<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709629812360-dtt2dlqrmndf3pb74nl3fkvbp9jfov34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709629812360-dtt2dlqrmndf3pb74nl3fkvbp9jfov34</string>
	<key>API_KEY</key>
	<string>AIzaSyAPKTMg1h6L7e4uS3ZZT2ILW-pd_FTXtkk</string>
	<key>GCM_SENDER_ID</key>
	<string>709629812360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quickprintshop.qps</string>
	<key>PROJECT_ID</key>
	<string>qps-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>qps-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709629812360:ios:e2db203ecf51cb7f37c93d</string>
	<key>DATABASE_URL</key>
	<string>https://qps-apps.firebaseio.com</string>
</dict>
</plist>